<h1>Carrito de Compras</h1>
    <table>
        <thead>
            <tr style="display: flex; flex-direction:column; margin-left: 1rem">
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
    </table>
    <div>
        <h3>Total: ${{total}}</h3>
        <button>Realizar Pedido</button>
    </div>